<template>
  <div class="home">
    <MenuPage></MenuPage>
  </div>
</template>

<script>
// @ is an alias to /src
import MenuPage from '@/components/MenuPage.vue'

export default {
  name: 'home',
  components: {
    MenuPage
  }
}
</script>
