<template>
  <div class="menu-page">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 p-2">
          <!-- Card Promotion -->
          <div class="card card-promotion">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-sm-4">
                  <div clas="card-car">
                    <i class="fas fa-truck card-car-icon" style="font-size: 128px; color: #503E9D;"></i>
                  </div>
                </div>
                <div class="col-sm-8">
                  <h4 class="card-title text-card-title">Food delivery for 30 days!</h4>
                  <p
                    class="card-text text-card-body"
                  >$0 delivery free for orders over 100$ for 30 days!</p>
                  <div class="text-right">
                    <a href="#" class="card-link text-card-link">Learn more ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Our Menu -->
          <div class="our-menu mt-5">
            <h3>Our menu</h3>
            <button class="btn-our-menu shadow" @click=" filter='all'" :class="{ active : filter == 'all' }">
                <div class="border-our-menu">
                    <div class="p-3">
                        <i class="fas fa-utensils" style="font-size:24px"></i>
                    </div>
                </div>
                <p>All</p>
            </button>
            <button class="btn-our-menu shadow" @click=" filter='pizza'" :class="{ active : filter == 'pizza' }">
                <div class="border-our-menu">
                    <div class="p-3">
                        <i class="fas fa-pizza-slice" style="font-size:24px"></i>
                    </div>
                </div>
                <p>Pizza</p>
            </button>
            <button class="btn-our-menu shadow" @click=" filter='hamburger'" :class="{ active : filter == 'hamburger' }">
                <div class="border-our-menu">
                    <div class="p-3">
                        <i class="fas fa-hamburger" style="font-size:24px"></i>
                    </div>
                </div>
                <p>Burgur</p>
            </button>
            <button class="btn-our-menu shadow" @click=" filter='ice cream'" :class="{ active : filter == 'ice cream' }">
                <div class="border-our-menu">
                    <div class="p-3">
                        <i class="fas fa-ice-cream" style="font-size:24px"></i>
                    </div>
                </div>
                <p>Ice cream</p>
            </button>
          </div>
          <!-- Card All Menu -->
          <Loading v-if="loading"></Loading>
          <div class="card-all-menu mt-5" v-if="!loading">
            <div class="row">
              <div
                class="col-sm-4 mb-5"
                v-for="menu in filterCategory"
                :key="menu.id"
              >
                <div class="card card-menu">
                  <img class="card img-card-menu mb-3" :src="menu.image" />
                  <div class="card-body m-0 p-0">
                    <h5 class="card-title text-menu-title mb-2">{{menu.name}}</h5>
                    <p class="card-text text-menu-body mb-2">{{menu.description}}</p>
                    <button class="btn btn-price" @click="addToCart(menu)">{{menu.price | currency}}</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-4 p-2">
          <div class="card card-my-order">
            <div class="card-body">
              <h4>My Order 😎</h4>
              <div class="my-order p-2" v-if="showCart">
                <div class="row mb-3" v-for="cart in carts" :key="cart.id">
                  <div class="col-3 text-center p-0 m-0">
                    <img
                      class="img-my-order"
                      :src="cart.image"
                    />
                  </div>
                  <div class="col-6 text-left font-weight-bold">
                    <p style="margin-bottom: 0px;">{{cart.name}}</p>
                    <p class="p-cart">
                      <button class="btn-cart" @click="minus(cart)">-</button>
                      {{cart.quantity}}
                      <button class="btn-cart" @click="plus(cart)">+</button>
                    </p>
                  </div>
                  <div class="col-3 text-right text-my-order">${{cart.price * cart.quantity}}</div>
                </div>
                <div class="row delivery-free mb-3">
                  <div class="col-3 card-delivery text-center">
                    <i class="fas fa-truck" style="font-size: 24px; color: #F6703D;"></i>
                  </div>
                  <div class="col-6 text-left text-delivery">Delivery</div>
                  <div class="col-3 text-right text-delivery">{{ this.totalPrice > 100 ? 'free' : '$10' }}</div>
                </div>
              </div>
              <div class="total-price">
                <div class="row">
                  <div class="col">
                    <p class="text-lef">Total:</p>
                  </div>
                  <div class="col">
                    <p class="text-right font-weight-bold">${{ checkTotal }}</p>
                  </div>
                </div>
              </div>
              <hr style="margin-top: 0px;" />
              <div class="text-center">
                <button class="btn btn-lg btn-checkout" @click="addItem(), showModal = true">Checkout</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div v-if="showModal">
        <div name="modal fade">
          <div class="modal-mask">
            <div class="modal-wrapper">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Checkout</h4>
                  </div>
                  <div class="modal-body">
                    <div class="input-group p-4">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="">Name</span>
                      </div>
                      <input type="text" class="form-control" v-model="userName">
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-success" @click="pushData(), showModal = false">Confirm Checkout</button>
                    <button type="button" class="btn btn-danger" @click="showModal = false">Cancel</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</template>

<script>
import Loading from '@/components/Loading'
import MenuService from '@/services/menu'
import OrderService from '@/services/order'

export default {
  name: 'menu-page',
  components: {
    Loading
  },
  data () {
    return {
      loading: true,
      filter: 'all',
      menus: [],
      carts: [],
      checkouts: [],
      showCart: false,
      showModal: false,
      totalPrice: 0,
      userName: '',
      deliveryPrice: 0
    }
  },
  filters: {
    currency: function (value) {
      return `+ $${value}`
    }
  },
  mounted () {
    this.loadData()
  },
  computed: {
    filterCategory: function () {
      var fCategory = this.filter
      var result

      if (fCategory !== 'all') {
        result = this.menus.filter(function (menu) {
          return menu.category === fCategory
        })
      } else {
        result = this.menus
      }

      return result
    },
    checkTotal: function () {
      var delivery = 10
      var totalCart = this.totalPrice

      if (totalCart !== 0) {
        if (totalCart > 100) {
          return totalCart
        } else {
          return totalCart + delivery
        }
      } else {
        return totalCart
      }
    }
  },
  methods: {
    loadData () {
      MenuService.findAll().then(menus => {
        this.menus = menus
        this.loading = false
      })
    },
    pushData () {
      let userCheckouts = {
        id: '',
        createdAt: Date.now(),
        name: this.userName,
        totalPrice: this.checkTotal,
        items: this.checkouts
      }
      console.log(userCheckouts)
      OrderService.addToAPI(userCheckouts)
    },
    addItem () {
      let num = this.carts.length
      for (let i = 0; i < num; i++) {
        this.checkouts.push({
          id: this.carts[i].id,
          amount: this.carts[i].quantity
        })
      }
    },
    addToCart (menu) {
      this.totalPrice += menu.price
      let numCheck = 0

      for (let i = 0; i < this.carts.length; i++) {
        if (this.carts[i].id === menu.id) {
          this.carts[i].quantity++
          numCheck = 1
          break
        }
      }

      if (numCheck === 0) {
        this.carts.push({
          id: menu.id,
          name: menu.name,
          image: menu.image,
          price: menu.price,
          quantity: 1
        })
        this.showCart = true
      }
    },
    plus (cart) {
      this.totalPrice += cart.price
      cart.quantity++
    },
    minus (cart) {
      this.totalPrice -= cart.price
      if (cart.quantity > 1) {
        cart.quantity--
      } else {
        let num = this.carts.length

        for (let i = 0; i < num; i++) {
          if (this.carts[i].id === cart.id) {
            this.carts.splice(i, 1)
            break
          }
        }

        if (num === 1) {
          this.showCart = false
          console.log(num)
        }
      }
    }
  }
}
</script>

<style scoped>
.container {
  padding: 80px 0 0 0;
}
div[class*="col"],
div[class*="card"] {
  position: unset !important;
}
.mt-5 {
  margin-top: 2rem !important;
}
/* Card Promotion */
.card-promotion {
  border: 0px;
  background-color: #fef7ec;
  border-radius: 20px;
  margin: 20px auto 0 0;
}
.card-car-icon {
  margin: -40px auto 0 0;
}
.text-card-title {
  font-size: 24px;
  font-weight: bold;
  color: #f6703d;
}
.text-card-body {
  font-size: 20px;
  color: #8d8d8d;
}
.text-card-link {
  font-size: 20px;
  color: #f6703d;
}
/* Our menu */
.btn-our-menu {
  background-color: white;
  box-shadow: 5px 10px 18px whitesmoke;
  color: black;
  font-weight: bold;
  font-size: 14px;
  border-radius: 50px;
  border: none;
  outline: none;
  padding: 10px;
  margin: 10px;
}
.active {
  background: #fbd560;
  border: none;
  outline: none;
}
.border-our-menu {
  border: solid 1px grey;
  border-radius: 50px;
  background-color: white;
  width: 60px;
  height: 60px;
  margin: auto;
}
/* Card All Menu */
.card-menu {
  border: 0;
}
.img-card-menu {
  border-radius: 20px;
  width: 100%;
  height: 160px;
  position: unset;
}
.text-menu-title {
  font-size: 16px;
  font-weight: bold;
}
.text-menu-body {
  font-size: 14px;
  color: #8d8d8d;
}
.btn-price {
  background-color: #503e9d;
  color: white;
  width: 100%;
  font-weight: bold;
}
/* Card My Order */
.card-my-order {
  background-color: #f8f8f8;
  border: 0;
  border-radius: 20px;
}
.img-my-order {
  border-radius: 10px;
  width: 100%;
  height: 58px;
}
.card-delivery {
  background-color: white;
  padding: 15px 0 15px;
  border-radius: 10px;
}
.text-delivery,
.text-my-order {
  color: #8d8d8d;
}
.total-price {
  margin: 0 0 0 0;
}
.btn-cart {
  width: 18px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  cursor: pointer;
  background-color: #503e9d;
  padding: 0;
  color: white;
  font-weight: bold;
  border: 0px;
  border-radius: 10px;
}
.btn-checkout {
  border-radius: 10px;
  background-color: #fbd560;
  font-size: 16px;
  font-weight: bold;
  width: 60%;
}
/* Dialog */
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}
</style>