<template lang="pug">
  nav.navbar.navbar-expand-lg.navbar-light.bg-white.shadow-sm
    button.navbar-toggler(type='button' data-taggle='collapse' data-target='#collapsibleNavbar' @click='navbarToggle = !navbarToggle')
      span.navbar-toggler-icon
    div.collapse.navbar-collapse(id='collapsibleNavbar' :class="{'show': navbarToggle}")
      a.navbar-brand.mr-auto.mt-2.mt-lg-0(href='/') Food Delivery
      form.form-inline.my-2.my-lg-0
        div.input-group
          div.input-group-prepend
            span.input-group-text(style="background-color: #F8F8F8; border: 0;")
              i.fas.fa-search
          input.form-control(type='text' placeholder='Search' style="background-color: #F8F8F8; border: 0;")
</template>

<script>
export default {
  data () {
    return {
      navbarToggle: false
    }
  }
}
</script>

<style lang="scss" scoped>
.navbar {
  position: fixed;
  width: 100%;
}
</style>